@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 0.0 0.0% 9.8%;
    --foreground: 0.0 0.0% 100.0%;
    --card: 0.0 0.0% 9.8%;
    --card-foreground: 0.0 0.0% 100.0%;
    --popover: 0.0 0.0% 11.0%;
    --popover-foreground: 0.0 0.0% 14.9%;
    --primary: 75.6 100.0% 60.0%;
    --primary-foreground: 0.0 0.0% 11.0%;
    --secondary: 0.0 0.0% 11.0%;
    --secondary-foreground: 210 20% 98%;
    --muted: 0.0 0.0% 11.0%;
    --muted-foreground: 240.0 5.9% 90.0%;
    --accent: 0.0 0.0% 14.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 0.0 0.0% 14.9%;
    --input: 0.0 0.0% 14.9%;
    --ring: 216 12.2% 83.9%;
  }
 
  .dark {
    --background: 0.0 0.0% 9.8%;
    --foreground: 0.0 0.0% 100.0%;
    --card: 0.0 0.0% 9.8%;
    --card-foreground: 0.0 0.0% 100.0%;
    --popover: 0.0 0.0% 11.0%;
    --popover-foreground: 0.0 0.0% 14.9%;
    --primary: 75.6 100.0% 60.0%;
    --primary-foreground: 0.0 0.0% 11.0%;
    --secondary: 0.0 0.0% 11.0%;
    --secondary-foreground: 210 20% 98%;
    --muted: 0.0 0.0% 11.0%;
    --muted-foreground: 240.0 5.9% 90.0%;
    --accent: 0.0 0.0% 14.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 0.0 0.0% 14.9%;
    --input: 0.0 0.0% 14.9%;
    --ring: 216 12.2% 83.9%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

